.stemkit-details-page {
  padding: 20px;
  text-align: center;
}

.stemkit-details-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stemkit-details-image {
  width: auto;
  height: 900px;
  max-height: 1000px;
}
