@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
   box-sizing: border-box;
}

/* Unified custom nav link style */
.nav-link-custom {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

/* Underline effect on hover */
.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #09110d; /* Bootstrap green */
  transition: width 0.3s ease;
}

/* Hover effect */
.nav-link-custom:hover {
  color: #040505;
}

.nav-link-custom:hover::after {
  width: 100%;
}
.custom-view-btn {
background: #0c0e0d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B89C93", endColorstr="#8E6865", GradientType=1 );  color: rgb(203, 202, 201) !important;
  font-weight: bold !important;
  border: none !important;
  transition: 0.3s ease;
}

.custom-view-btn:hover {
  background-color: #467c66 !important;
  color: #000000 !important;
}
.my-account-btn {
  background: hsla(180, 13%, 58%, 1);
  background: linear-gradient(120deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
  background: -webkit-linear-gradient(120deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#87A3A3", endColorstr="#AC8D9A", GradientType=1);
  color: white !important;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
}

.my-account-btn:hover {
  background-color: #380606af !important;
  color: #000000 !important;
}
.shopnow-btn {
background: #e9d362;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: bold !important;
  border: none !important;
  transition: 0.3s ease;                                                      
}
/* Force navbar logo to be bigger */
.navbar-logo {
  height: "auto" !important; /* Adjust this until it looks perfect */
  width: 200px !important;
  object-fit: contain;}
